Package: qemu-guest-agent-static
Version: 2.11-1
Architecture: amd64
Maintainer: s3rj1k <evasive.gyron@gmail.com>
Depends: lsb-base (>= 3.0-6), systemd
Section: otherosfs
Priority: optional
Multi-Arch: foreign
Homepage: http://www.qemu.org/
Description: Guest-side qemu-system agent, compiled statically
 QEMU is a fast processor emulator: currently the package supports
 ARM, CRIS, i386, M68k (ColdFire), MicroBlaze, MIPS, PowerPC, SH4,
 SPARC and x86-64 emulation. By using dynamic translation it achieves
 reasonable speed while being easy to port on new host CPUs.
 .
 This package provides a daemon (agent) to run inside qemu-system
 guests (full system emulation).  It communicates with the host using
 a virtio-serial channel org.qemu.guest_agent.0, and allows one to perform
 some functions in the guest from the host, including:
  - querying and setting guest system time
  - performing guest filesystem sync operation
  - initiating guest shutdown or suspend to ram
  - accessing guest files
  - freezing/thawing guest filesystem operations
  - others.
 .
 Install this package on a system which is running as guest inside
 qemu virtual machine.  It is not used on the host.
